@charset "UTF-8";
/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 992px) {
  body{
    background-image: linear-gradient(to top, var(--cor5), var(--cor6
    ) );
  }
  div#login {
    width: 80vw;
    height: 350px;
  }

  div#imagem {
    float: left;
    width: 30%;
    height: 100%;
    background-image: right center;
  }

  div#Conteudo {
    float: right;
    width: 70%;
  }

  input {
    width: 92%;
  }
}

@media screen and (min-width: 992px) {
  body{
    background-image: linear-gradient(to top, var(--cor5), var(--cor6
    ) );
  }
  div#login{
    width: 90vw;
    max-width: 900px;
    height: 350px;
  }
  div#imagem {
    float: right;
    width: 50%;
    height: 100%;
  }

  div#Conteudo {
    float: left;
    width: 50%;
  }
  input {
    width: 92%;
  }
}